@model FrontEnd.Models.ViewModels.CreateOrderViewModel

<div class="container" style="padding-top: 70px;">
    <div class="row justify-content-center align-items-start">
        <div class="col-md-6 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h5 class="mb-0">Create Order</h5>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("Create","Orders", new { ReturnUrl = ViewBag.ReturnUrl })">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            Product
                            <div class="col-md-10">
                                <select class="chzn-select" style="width:200px" id="ProductIds">
                                    @foreach (var product in Model.Products)
                                    {
                                        <option class="text-dark" value="@product.Id">
                                            @Html.DisplayFor(modelItem => product.Name)
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            @Html.LabelFor(m => m.Order.Quantity, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Order.Quantity, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(m => m.Order.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            @Html.LabelFor(m => m.Order.Total, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Order.Total, new { @class = "form-control", type = "number", step = "0.01" })
                                @Html.ValidationMessageFor(m => m.Order.Total, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            @Html.LabelFor(m => m.Order.ClientId, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Order.ClientId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Order.ClientId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            @Html.LabelFor(m => m.Order.OrderDate, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Order.OrderDate, new { @class = "form-control", type = "datetime-local" })
                                @Html.ValidationMessageFor(m => m.Order.OrderDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mt-4">
                            <div class="col-sm-8 offset-sm-4">
                                <button type="submit" class="btn btn-success w-100">
                                    Submit Order
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".chzn-select").chosen();
    //$(".chzn-select").chosen({ max_selected_options: 5 });
</script>